{% extends "base.html" %}

{% block content %}
<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Overview</a></li>
      <li class="breadcrumb-item"><a href="inventory.html">Market</a></li>
      <li class="breadcrumb-item active" aria-current="page">Info</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-header">
      INFO
    </div>
    <div class="card-body">
      <ul class="list-inline">
        <!-- Button trigger modal -->
        <li class="list-inline-item">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#buyModal">
            BUY
          </button>
        </li>
      </ul>
      <h5 class="card-title mb-0">{{ data['symbol'] }}</h5>
      <p class="text-muted fs-6 fw-light">Last update: 3 04:59PM EDT</p>
      <ul class="list-inline">
        <li class="list-inline-item fs-1" id="lastPrice">{{ data['lastPrice'] }}</li>
        <li class="list-inline-item fs-3 {{ data['color'] }}" id="change">{{ data['change'] }}</li>
        <li class="list-inline-item fs-3 {{ data['color'] }}" id="percent">({{ data['percent'] }}%)</li>
      </ul>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Close</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="close">{{ data['previousClose'] }}</td>
            <td id="open">{{ data['open'] }}</td>
            <td id="high">{{ data['high'] }}</td>
            <td id="low">{{ data['low'] }}</td>
          </tr>
        </tbody>
      </table>

      <div id='chart' class='chart' ”></div>
    </div>
  </div>

</div>

<!-- Buy Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModallLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/market/buy/{{ data['symbol'] }}">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount" , name="amount">
            <div class="form-text">
              Amount of stocks that you can afford: {{ amount }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io()
  var graphs = {{ graphJSON | safe }};

  //socket.on('graphLive', function (graph) {
    //console.log(graph)
    //if (typeof graph !== 'undefined') graphs = graph;        
  //})
  Plotly.plot('chart', graphs, {});
 
  socket.on('marketLive', function (data) {
    if (typeof data !== 'undefined') {
      lastPrice = document.getElementById("lastPrice")
      lastPrice.innerHTML = data.lastPrice
      lastPrice.classList.add('text-primary');
      document.getElementById("change").innerHTML = data.change
      document.getElementById("percent").innerHTML = `( ${data.percent}%)`
    }
  });
</script>

{% endblock %}