{% extends "base.html" %}

{% block content %}
<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Overview</a></li>
      <li class="breadcrumb-item"><a href="inventory.html">Inventory</a></li>
      <li class="breadcrumb-item active" aria-current="page">Info</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-header">
      INFO
    </div>
    <div class="card-body">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/market/{{ data['symbol'] }}#buyModal" class="btn btn-outline-primary">BUY</a>
        </li>
        <!-- Button trigger modal -->
        <li class="list-inline-item">
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#sellModal">
            SELL
          </button>
        </li>
      </ul>
      <h5 class="card-title mb-0">{{ data['symbol'] }}</h5>
      <p class="text-muted fs-6 fw-light">Current price: {{ data['lastPrice'] }}</p>
      <ul class="list-inline">
        <li class="list-inline-item fs-1">{{ data['ownedPrice'] }}</li>
        <li class="list-inline-item fs-3 {{ data['colorForGainLoss'] }}">{{ data['gainOrLoss'] }}</li>
        <li class="list-inline-item fs-3 {{ data['colorForGainLoss'] }}">({{ data['gainOrLossPercent'] }}%)</li>
      </ul>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Current price</th>
            <th scope="col">Buyed at.</th>
            <th scope="col">Owned price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Gain/Loss</th>
            <th scope="col">Gain%/Loss%</th>
            <th scope="col" title="(Hour/Minute/Second Day/Month/Year)">Date of buy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ data['symbol'] }}</td>
            <td>{{ data['lastPrice'] }}</td>
            <td>{{ data['priceWhenBuyed'] }}</td>
            <td>{{ data['ownedPrice'] }}</td>
            <td>{{ data['quantity'] }}</td>
            <td class="{{ data['colorForGainLoss'] }}">{{ data['gainOrLoss'] }}</td>
            <td class="{{ data['colorForGainLoss'] }}">{{ data['gainOrLossPercent'] }}</td>
            <td title="(Hour/Minute/Second Day/Month/Year)">{{ data['date'].strftime('%H:%M:%S %d-%m-%Y') }}</td>
          </tr>
        </tbody>
      </table>

      <div id='chart' class='chart'></div>
    </div>
  </div>

</div>

<!-- SELL Modal -->
<div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModallLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sell</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/sell">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Amount</label>
            <input type="number" class="form-control" name="amount" id="amount" aria-describedby="passhelp">
            <input type="hidden" name="inventory_id" value="{{ data['ID'] }}">
            <input type="hidden" name="symbol" value="{{ data['symbol'] }}">
            <div id="amountHelp" class="form-text">Currently you have: {{ data['quantity'] }}</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart', graphs, {});        
</script>

{% endblock %}